:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: black;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	color: gold;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	color: gold;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.banner-img {
	height: 20rem;
}
.banner-img:hover {
	transform: scaleX(10px);
	transform: scaleY(10px);
	transition: all 0.3s;
}
.music-container {
	border: 1px solid;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow: hidden;
}
@keyframes moveLeft {
	from {
		translate: 30%;
	}
	50% {
		translate: -30%;
	}
	to {
		translate: 30%;
	}
}
.song-title {
	width: 100%;
	text-align: center;
	font-size: large;
	font-weight: 700;
	margin-bottom: 5px;
	transition: all 0.3s;
	animation: moveLeft 9s;
	animation-iteration-count: infinite;
}
.icon {
	font-size: 2rem;
	border-radius: 50%;
}
.pictures {
	margin-top: 2rem;
	width: 70%;
}
.pictures:hover {
	transition: all 0.3s;
	box-shadow: 2px 2px 2px white;
	transform: scaleX(10px);
}
ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	font-size: x-large;
	padding: 0;
}
a {
	text-decoration: none;
}
.chat-box {
	height: 33rem;
	width: 32rem;
	border: 3px solid;
	border-radius: 10px;
	margin-bottom: 2rem;
}
.chat-button {
	background-color: black;
	color: gold;
	border: 1px solid gold;
}
.message-buble {
	background-color: darkgreen;
	font-size: 2rem;
	height: 4rem;
	font-weight: 800;
}
.chat-form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.chat-input {
	height: 2.6rem;
	border: none;
	border-radius: 10px;
	background-color: darkgray;
}
